name: test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"

      - name: Install rye
        uses: eifinger/setup-rye@v1
        with:
          enable-cache: true
          cache-prefix: "rye"

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: .venv
          key: pip-${{ runner.os }}-${{ hashFiles('**/requirements*.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          rye config --set-bool behavior.use-uv=true
          rye sync

      - name: Run tests
        run: |
          rye run pytest -v --cov=./packages-py --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: OMUAPPS/omuapps-python
